.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(105, 6, 89);
}

.note 
{
  font-size: 15px;
  color: rgb(191, 122, 255);
}

.copy_right_footer{
    position: fixed;
    color: rgb(128, 132, 240);
    bottom: 0;
    width: 100%;
    background-color: rgb(97, 7, 7);
    line-height: 3;
    text-align: center;
}

canvas
{
  border: 5px solid rgb(12, 3, 87);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(44, 2, 78);
}